<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <!-- HEADER-->
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleClose}>
                    <lightning-icon icon-name="utility:close"
                        alternative-text="close"
                        variant="inverse"
                        size="small" ></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Delete Contacts</h2>
            </header>
            <!-- BODY -->
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <template if:true={cons}>
                    <lightning-dual-listbox name="selectContacts"
                        label="Select Contacts"
                        source-label="Available"
                        selected-label="Delete"
                        field-level-help="Select contacts to delete."
                        options={conOptions}
                        onchange={handleSelectedConChange}>
                    </lightning-dual-listbox>
                </template>

            </div>
            <!-- FOOTER -->
            <footer class="slds-modal__footer">
                <lightning-button onclick={handleClose} label="Cancel" variant="neutral"></lightning-button>
                <lightning-button onclick={handleSubmit} label="Delete" variant="destructive"></lightning-button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>