<template>
    <lightning-layout>

        <!-- Select Criteria -->
        <lightning-layout-item size="3" padding="horizontal-small">
            <lightning-combobox
                name="criteriaSelect"
                label="Field"
                value={selectedCriteria}
                placeholder="Select criteria..."
                options={criteriaOptions}
                onchange={handleCriteriaChange}>
            </lightning-combobox>
        </lightning-layout-item>

        <!-- Search Type -->
        <lightning-layout size="2" padding="horizontal-small">
            <template if:true={isBoolean}>
                <lightning-combobox
                    name="searchType"
                    label="Search Type"
                    value={selectedSearchType}
                    options={booleanOptions}
                    onchange={handleSearchTypeChange}>
                </lightning-combobox>
            </template>

            <template if:true={isNumeric}>
                <lightning-combobox
                    name="searchType"
                    label="Search Type"
                    value={selectedSearchType}
                    options={numericOptions}
                    onchange={handleSearchTypeChange}>
                </lightning-combobox>
            </template>

            <template if:true={isText}>
                <lightning-combobox
                    name="searchType"
                    label="Search Type"
                    value={selectedSearchType}
                    options={textOptions}
                    onchange={handleSearchTypeChange}>
                </lightning-combobox>
            </template>
        </lightning-layout>

        <lightning-layout-item size="7" padding="horizontal-small">
            <template if:true={isRange}>
                <lightning-layout>
                    <lightning-layout-item size="5">
                        <lightning-input type={criteriaType} name="lowRange" label="Minimum" value={minValue} onchange={handleMinValueChange}></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="2">
                        <div class="slds-text-align_center">
                            and
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="5">
                        <lightning-input type={criteriaType} name="highRange" label="Maximum" value={maxValue} onchange={handleMaxValueChange}></lightning-input>
                    </lightning-layout-item>
                </lightning-layout>
            </template>

            <template if:false={isRange}>
                <lightning-input type={criteriaType} name="value" label="" value={value} onchange={handleValueChange}></lightning-input>
            </template>
        </lightning-layout-item>

    </lightning-layout>
</template>