<template>
    <template if:true={showCreate}>
        <div class="slds-m-bottom_large">
            <c-add-contact-form parent-account-id={parentAccountId} layout-fields={layoutFields}
                                oncreated={handleCreated}></c-add-contact-form>
        </div>
    </template>

    <div class="slds-m-top_large">
        <template if:true={showNoConsFoundMessage}>
            <div class="slds-text-align_center slds-text-heading_small">
                No contacts are associated with this Account yet.
            </div>
        </template>
    
        <template if:false={showNoConsFoundMessage}>
            <lightning-datatable
                data={conData}
                columns={columns}
                key-field="Id"
                hide-checkbox-column="true">
            </lightning-datatable>
        </template>
    </div>

</template>