<template>
    <template if:true={parentAccountId}>
        <lightning-layout padding="around-small">
            <lightning-layout-item size="1"></lightning-layout-item>

            <lightning-layout-item size="10">
                <lightning-record-edit-form object-api-name="Contact" density="compact" onerror={handleError} onsuccess={handleSuccess}>
                    <lightning-messages></lightning-messages>
        
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <template for:each={leftColumn} for:item="eachField">
                                <lightning-input-field key={eachField.name} field-name={eachField.name} value={eachField.value}></lightning-input-field>
                            </template>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <template for:each={rightColumn} for:item="eachField">
                                <lightning-input-field key={eachField.name} field-name={eachField.name} value={eachField.value}></lightning-input-field>
                            </template>
                        </div>
                    </div>
            
                    <div class="slds-align_absolute-center slds-m-top_small">
                        <lightning-button
                            class="slds-m-horizontal_small"
                            label="Reset"
                            onclick={handleReset}>
                        </lightning-button>
                        <lightning-button
                            class="slds-m-horizontal_small"
                            type="submit"
                            label="Create"
                            variant="brand">
                        </lightning-button>
                    </div>

                </lightning-record-edit-form>
            </lightning-layout-item>

            <lightning-layout-item size="1"></lightning-layout-item>
        </lightning-layout>

    </template>
</template>