<template>
    <!-- Search Section -->
    <lightning-card title="Account Search" icon-name="standard:search" class="slds-m-around_small">
        <c-contact-manager-search onsearch={handleAccountSearch} onreset={handleSearchReset}></c-contact-manager-search>
    </lightning-card>

    <!-- Account Table Section -->
    <template if:true={accountData}>
        <lightning-card title="Search Results" icon-name="standard:account" class="slds-m-around_small">
            <c-account-info-display account-data={accountData} onrowselected={handleSelectAccount}
                                    oncreatecon={handleCreateCon} ondeletecon={handleDeleteCon}></c-account-info-display>
        </lightning-card>
    </template>

    <!-- Contact Section -->
    <template if:true={showConInfo}>
        <lightning-card title="Contacts" icon-name="standard:contact" class="slds-m-around_small slds-p-around_medium">
            <c-contact-info-display con-data={relatedCons} parent-account-id={selectedAccountId} layout-fields={layoutFields}
                                    show-create={showCreateContact} oncreated={handleConCreated}></c-contact-info-display>
        </lightning-card>
    </template>

    <!-- Modals -->
    <template if:true={showDeleteModal}>
        <c-delete-contact-modal account-id={selectedAccountId} cons={relatedCons}
                                onclose={handleDeleteModalClose} onsubmit={handleDeleteModalSubmit}></c-delete-contact-modal>
    </template>

</template>