<template>
    <template if:true={showNoResultsMessage}>
        <div class="slds-text-align_center slds-text-heading_medium">
            No accounts found. Please refine your search filters and try again.
        </div>
    </template>

    <template if:false={showNoResultsMessage}>
        <lightning-datatable
            data={accountData}
            columns={columns}
            key-field="Id"
            selected-rows={selectedRow}
            onrowselection={handleRowSelect}
            onrowaction={handleRowAction}>
        </lightning-datatable>
    </template>

</template>