<template>
    <lightning-layout>

        <lightning-layout-item size="1" padding="around-small">
            <lightning-combobox
                name="numOfCriteria"
                label="# of Criteria"
                value={numOfCriteriaValue}
                options={numOfCriteriaOptions}
                onchange={handleNumOfCriteriaSelected}>
            </lightning-combobox>
        </lightning-layout-item>

        <lightning-layout-item size="11" padding="around-small">
            <lightning-layout multiple-rows="true">
                <template for:each={numOfCriteria} for:item="num">
                    <lightning-layout-item key={num} size="12" padding="around-small">
                        <c-account-criteria-row criteria-options={criteriaOptions} type-dict={typeDict}
                        ordinal-dict={ordinalDict}></c-account-criteria-row>
                    </lightning-layout-item>
                </template>
            </lightning-layout>
                
        </lightning-layout-item>
    </lightning-layout>

    <lightning-layout>
        <lightning-layout-item size="5">

        </lightning-layout-item>

        <lightning-layout-item size="2">
            <lightning-layout horizontal-align="space">
                <lightning-layout-item size="4">
                    <lightning-button label="Reset" title="Non-primary action" onclick={handleReset}></lightning-button>
                </lightning-layout-item>
                <lightning-layout-item size="4">
                    <lightning-button variant="brand" label="Search" title="Primary action" onclick={handleSearch}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </lightning-layout-item>

        <lightning-layout-item size="5">

        </lightning-layout-item>
    </lightning-layout>
</template>